<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hrm.mapper.AttendanceMapper">
	<!-- 출근 INSERT -->
    <insert id="insertCheckIn" parameterType="com.example.hrm.dto.AttendanceDto">
        INSERT INTO attendance (employee_id, dept_id, work_date, check_in_time)
        VALUES (#{employeeId}, #{deptId}, #{workDate}, #{checkInTime})
    </insert>

    <!-- 퇴근 UPDATE -->
    <update id="updateCheckOut" parameterType="com.example.hrm.dto.AttendanceDto">
        UPDATE attendance
        SET check_out_time = #{checkOutTime}
        WHERE employee_id = #{employeeId}
          AND work_date = #{workDate}
    </update>
    <select id="getAttendanceByEmployeeId" resultType="com.example.hrm.dto.AttendanceDto">
        SELECT attendance_id, employee_id, dept_id, work_date, check_in_time, check_out_time
        FROM attendance
        WHERE employee_id = #{employeeId}
    </select>

    <select id="getLeaveByEmployeeId" resultType="com.example.hrm.dto.VacationDto">
        SELECT employee_id, leave_type, start_date, DATE_ADD(STR_TO_DATE(end_date, '%Y-%m-%d'), INTERVAL 1 DAY) end_date
        FROM vacation
        WHERE employee_id = #{employeeId}
    </select>

	<select id="getAllAttendance" resultType="com.example.hrm.dto.AttendanceDto">
        SELECT 
            employee_id AS employeeId,
            dept_id AS deptId,
            work_date AS workDate,
            check_in_time AS checkInTime,
            check_out_time AS checkOutTime,
            attendance_id AS attendanceId
        FROM attendance
        ORDER BY work_date DESC
    </select>
    
    
</mapper>